p {
    margin: 0;
    font-family: Roboto, serif;
}

a {
    font-family: Roboto, serif;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Roboto, serif;
    padding: 110px 530px 0 411px;
}